#checkout .box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent;
    box-shadow: none;
    background-clip: padding-box;
    border: none;
    border-radius: .3rem;
    outline: 0;
    padding: 26px 72px 56px 71px;
    margin-top: 50px;
}

#checkout .col-lg-3 {
    padding-right: 0;
}

#checkout .col-lg-9 {
    padding-left: 3%;
}

#checkout .col-md-4 {
    padding-right: 0;
}

/* #checkout .col-md-6 {
	padding-left: 0;
} */
/* #checkout > .container {
	width: 520px;
} */

#checkout .sidebar-title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
    border: none;
    margin-top: 16px;
    margin-bottom: 20px;
}

#checkout .sidebar-title::after {
    background: #21b3fa none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    display: none;
    height: 1px;
    position: absolute;
    width: 100px;
}

#checkout .mb-30 {
    border-radius: 4px;
    background-color: #16161a;
    box-shadow: 0 0 11px 0 #000000;
    padding: 10px;
}

#checkout .nice-select {
    border: 0;
    background-color: #000000;
    box-shadow: 0 0 11px 0 #000000;
    padding: 0;
    padding-left: 20px;
    width: 210px;
    height: 40px;
    float: left;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
}

#checkout .nice-select .list li {
    color: #ffffff
}

#checkout .nice-select .list li:hover {
    color: #a9091d;
}

#checkout .nice-select .list {
    background-color: #16161a;
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
}

#checkout label {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    /* width: 105px; */
}

#checkout hr {
    width: 100%;
    margin: 0 !important;
}

/* #checkout form.price .form-group input.form-control{
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
	border-radius: 0;
} */
#checkout form.price .form-group input.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 0 0 11px 0;
}

#checkout form.price .form-group input.form-control#grand-price {
    border-bottom: none;
}

#checkout form.price {
    width: 100%;
}

#checkout .btn-info {
    border: transparent;
    border-radius: 4px;
    background-color: #a9091d;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
    float: right;
}

#modal-change-address .modal-content {
    background-color: #1e1e1e;
    box-shadow: 0 0 11px 0 #000000;
    border: none !important;
    width: 679px;
    margin-left: -90px;
}

#modal-change-address .modal-header {
    margin-top: 26px;
    display: inline-block;
    text-align: center;
}

#modal-change-address .modal-title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

#modal-change-address .box {
    border-radius: 4px;
    box-shadow: 0 0 11px 0 #000000;
    background-color: #16161a;
    padding: 10px;
}

#modal-change-address .cust-name {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #ffffff;
    margin-bottom: 16px;
}

#modal-change-address .cust-addr-phone {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #ffffff;
    margin-bottom: 16px;
}

#modal-change-address a {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #a9091d;
}

#add-new-address {
    border-radius: 4px !important;
    border: solid 1px #ffffff !important;
    background: #16161a !important;
    box-shadow: 0 0 11px 0 #000000 !important;
    float: left !important;
    font-family: Roboto !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: 0.6px !important;
    color: #ffffff !important;
    margin-top: 40px !important;
}

#choose-address {
    float: right !important;
    font-family: Roboto !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: 0.6px !important;
    color: #ffffff !important;
    background: #a9091d !important;
    border-radius: 4px !important;
    border: transparent !important;
    margin-top: 40px !important;
}

#choose-address:focus {
    border: none;
}

#grand-price {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a9091d !important;
}

#quantity {
    margin-right: -50px;
}

#pay {
    float: none !important;
    width: 121px;
}

.ch-title {
    /* text-align: center; */
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #ffffff;
    /* margin-bottom: 41px; */
}

.ch-caption {
    text-align: left;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}

.box-shipping-courier {
    border-radius: 4px;
    box-shadow: 0 0 11px 0 #000000;
    background-color: #16161a;
    padding: 20px;
}

.shipping-courier-item {
    background: none;
    margin-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.comment-desc {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.6px;
    color: #ffffff;
}

.tab-content {
    margin-bottom: 20px;
}

.product-header {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
    letter-spacing: 1.5px;
    color: #ffffff;
}

.pro-instock {
    width: 125px;
    height: 38px;
    border: none;
    margin-top: 25px;
    padding: 10px 0;
    background: #ffffff;
    /* height: 20px; */
    text-align: center;
    vertical-align: middle;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #1e1e1e;
}

.title-shipping {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
}

#checkout .price p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 10px;
}

.pro-cart {
    background: #a9091d none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    padding: 14px 30px;
    text-transform: uppercase;
    width: 100%
}

.cust-name {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    color: #ffffff;
}

.cust-address {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #ffffff;
}

.cust-phone {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}

.shopping-summary {
    border-radius: 4px;
    box-shadow: 0 0 11px 0 #000000;
    background-color: #16161a;
    padding: 20px;
}

.round {
    position: absolute;
    right: 20px;
    top: 10px;
}

.round label {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    right: 0;
    position: absolute;
    top: 0;
    width: 18px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    right: 0;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: #ffffff;
    border-color: #ffffff;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 0;
}

.custom-checkout-class {
    margin-top: -79px;
}

.box-shipping-courier .product-image {
    margin-right: 30px;
    float: left;
}

.box-shipping-courier input,
.box-shipping-courier input:focus {
    border-color: transparent;
    font-size: 14px;
    border-radius: 4px;
    background-color: #16161a;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 3px 21px 0 rgba(0, 0, 0, 0.3);
}

#checkout .enter-shipping-address {
    width: 100%;
    background-color: #a9091d;
    color: #fff;
    border: #a9091d;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
}

.box-shipping-courier .tab {
    background-color: transparent !important;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    padding: 7px;
}
