/* HEADER - START */
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #16161a !important;
    color: #a9091d !important;
}

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }

.nav-box {
    background-color: #16161a;
    border-bottom: 4px solid #a9091d;
}

.header-sticky.sticky {
    background: #16161a none repeat scroll 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
    z-index: 1049;
}

.ht-dropdown {
    width: 210px;
    background-color: #16161a;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 3px 21px 0 rgba(0, 0, 0, 0.3);
}

.ht-dropdown a {
    color: #fff;
}

.megamenu {
    width: 653px !important;
    border: none;
}

.megamenu a {
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.megamenu a:hover {
    color: #a9091d !important;
}

.header-menu-list ul.ht-dropdown.megamenu>li:not(:last-child) {
    border: none;
}

.header-menu-list>li,
.cart-box>ul>li {
    padding: 20px 0;
}

.register {
    width: 116px;
    height: 18px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #ffffff;
    letter-spacing: 0.5px;
    padding-left: 5px;
    padding-right: 5px;
}

.info-user-login {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #ffffff;
    position: absolute;
    left: -25px;
    top: 18px;
}

@media screen and (max-width: 991px) {
    .register {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .register {
        width: auto;
    }
}

.register>a {
    color: #ffffff;
}

.register>.btn {
    vertical-align: top;
}

.register>.btn-info {
    border: none;
    background: transparent;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #ffffff;
    letter-spacing: 0.5px;
    padding-left: 5px;
    padding-right: 5px;
}

.register>.btn-info:hover {
    background: none;
    border: none;
}

.register>.btn-info.focus,
.btn-info:focus {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 3px 21px 0 rgba(0, 0, 0, 0.3);
}

.register>.btn-lg {
    padding: 0;
}

.register>.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
    background: none;
    border: none;
}

.close {
    position: absolute;
    right: 20px;
    /* font-size: 1.5rem;
    /* font-weight: 700; */
    line-height: 1;
    font-family: Roboto;
    font-size: 48px;
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #ffffff;
    text-decoration: none;
    margin-top: -65px !important;
    /* text-shadow: 0 1px 0 #fff; */
    /* opacity: 0; */
    /* background-color: #ffffff; */
}

.close:focus,
.close:hover {
    color: #ffffff;
    text-decoration: none;
    /* opacity: .75; */
}

.modal .fade .show {
    display: flex;
}

#modal-login {
    margin-top: 75px;
}

#modal-login .modal-content {
    background-color: #1e1e1e;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 3px 21px 0 rgba(0, 0, 0, 0.3);
    border: none !important;
}

#modal-login .modal-header {
    margin-top: 26px;
    display: inline-block;
    text-align: center;
}

#modal-login .modal-content .modal-title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

#modal-login .modal-body {
    margin-top: 55px;
}

#modal-login input {
    border-color: transparent;
    border-radius: 4px;
    background-color: #16161a;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 3px 21px 0 rgba(0, 0, 0, 0.3);
}

input[type="text"].auth::-webkit-input-placeholder {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5e5e5e;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
} */

.label-form {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.forgot-password {
    text-align: center;
    margin-top: 33px;
    margin-bottom: 42px;
}

.forgot-password a {
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.forgot-password a:hover {
    color: #a9091d;
}

.caption-after-submit {
    text-align: center;
    margin-top: 25px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.caption-after-submit a {
    color: #a9091d;
}

#modal-login .btn-info {
    width: 100%;
    border-radius: 4px;
    background-color: #a9091d;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}

#modal-register .modal-content {
    background-color: #1e1e1e;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 3px 21px 0 rgba(0, 0, 0, 0.3);
    border: none !important;
}

#modal-register .modal-header {
    margin-top: 26px;
    display: inline-block;
    text-align: center;
}

#modal-register .modal-content .modal-title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

#modal-register .modal-body {
    margin-top: 55px;
}

#modal-register input {
    border-color: transparent;
    border-radius: 4px;
    background-color: #16161a;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 3px 21px 0 rgba(0, 0, 0, 0.3);
}

#modal-register .btn-info {
    margin-top: 52px;
    width: 100%;
    border-radius: 4px;
    background-color: #a9091d;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}

.menu {
    width: 29px;
    height: 18px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #ffffff;
}

.bg-image-1 {
    background-image: url(/../img/slide/liga-gojek-slider.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.bg-image-2 {
    background-image: url(/../img/slide/coming-soon-slider.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

/*KOLOM SEARCHING*/
/* #login-register .nav {
    display: inline-block;
    width: 200px;
    padding-right: 40px;
}

#login-register .categorie-search-box input,
.subscribe-box input {
    width: 800px !important;
    background: transparent;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #5d5d5d;
}

#login-register .categorie-search-box input::-webkit-input-placeholder,
#login-register .categorie-search-box input::-moz-input-placeholder{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #5d5d5d;
}

#login-register .main-thumb-desc.tabs-area > li {
    display: block;
}
#login-register hr {
    background: #9393a3;
    width: 130px;
}
#login-register .main-thumb-desc.tabs-area > li > a {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9393a3;
    text-transform: none;
}
#login-register .dropdown.categorie-search-box {
    background: white;
    padding: 30px 50px;
    margin-top: 8px;
}

#login-register .dropdown.categorie-search-box {
    background: #fff;
    transform: translate(98px);
    width: 1349px;
}

#login-register .thumbnail-desc {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 0;
}

#login-register .tab-content {
    margin: 0;
}

#login-register .tab-content.thumb-content {
    padding: 0 15px;
}

#login-register .thumb-desc-inner {
    border: none;
    position: absolute;
    top: 16px;
}

#login-register .main-thumb-desc li a.active {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e42237;
    border: none;
}

#login-register .close {
    position: absolute;
    top: 70px;
    right: 30px;
    color: #000000;
}

#login-register .close:hover {
    color: #000000;
} */
/* HEADER - END */

/*BODY - START*/
/* .service-area {
    min-height: calc(100vh - 101px);
} */

/*BODY - END*/

/* FOOTER - START */
footer {
    border-top: 4px solid #a9091d;
    background-color: #16161a;
}

.footer-title {
    height: 30px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #64646b;
}

.footer-content {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #64646b;
}

.footer-content img {
    margin-left: -40px;
}

.footer-content a:hover {
    color: #a9091d !important;
}

.footer-top {
    border: none;
}

.footer-copyright p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #64646b;
    float: left;
}

.footer-copyright p a {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #64646b;
}

.ptb-15 {
    text-align: center;
    padding-bottom: 25px;
}

.light-blue-bg {
    background-color: #16161a;
}

.footer-bottom-right {
    padding-right: 80px;
    float: right;
}

/* FOOTER -END */
