#payment .box{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	background-color: transparent;
	background-clip: padding-box;
	border: none;
	outline: 0;
	padding: 20px;
	padding-bottom: 48px;
	margin-top: 100px;
}

#payment .mb-30{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	/* pointer-events: auto; */
	border-radius: 4px;
	box-shadow: 0 0 11px 0 #000000;
	background-color: #16161a;
	/* background-clip: padding-box; */
	border: none;
	outline: 0;
	padding: 20px;
	/* padding-bottom: 48px; */
	margin-top: 40px;
	height: 270px;
	width: 200px
}

#payment .mb-30 img{
	object-fit: contain;
	height: 39px
}

#payment .mb-30 p{
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	color: #ffffff;
}

#payment .content {
	text-align: center;
	margin-top: 40px;
}

#payment .caption-payment{
	font-family: Roboto;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.4px;
	text-align: center;
	color: #ffffff;
	margin-top: 20px
}

#payment .btn-info{
	width: 121px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.6px;
	color: #ffffff;
	border-radius: 4px;
	border: transparent;
	background-color: #a9091d;
}

#payment .btn-info:focus{
	-webkit-shadow: none;
	box-shadow: none;
}

/*NAME*/
#payment .name{
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.8px;
	color: #ffffff;
}

#payment .address{
	font-family: Roboto;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.8px;
	color: #ffffff;
}

#payment .phone{
	font-family: Roboto;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.8px;
	color: #ffffff;
}

/*PRICE*/
#payment .box-price{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	box-shadow: 0 0 11px 0 #000000;
	background-color: #16161a;
	background-clip: padding-box;
	border: none;
	outline: 0;
	padding: 20px;
	margin-top: 25px;
}

#payment .col-lg-5{
	padding-left: 95px;
	padding-right: 130px;
}

#payment form.price .form-group input.form-control{
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
	border-radius: 0;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}

#payment input[id="grand-price"]{
	border: none !important;
}

#payment form.price{
	width: 100%;
}
