.rp-title {
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 41px;
}

#reset-password form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #1e1e1e;
    box-shadow: 0 0 11px 0 #000000;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    padding: 26px 72px 56px 71px;
    margin-top: 90px;
}

#reset-password input {
    border-color: transparent;
    border-radius: 4px;
    background-color: #16161a;
    box-shadow: 0 0 11px 0 #000000;
}

#reset-password .btn-info {
    width: 100%;
    border-radius: 4px;
    background-color: #a9091d;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
    margin-top: 18px;
}
