#shop .box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent;
    box-shadow: none;
    background-clip: padding-box;
    border: none;
    border-radius: 0.3rem;
    outline: 0;
    padding: 26px 72px 56px 71px;
    margin-top: 100px;
}
/* 
#shop .col-lg-3 {
	padding-right: 0;
} */

#shop .col-lg-9 {
    padding-left: 3%;
}

/* #shop > .container {
	width: 520px;
} */

#shop .sidebar-title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
    border: none;
    margin-top: 16px;
    margin-bottom: 20px;
    padding-left: 20px;
}

#shop .sidebar-title::after {
    background: #21b3fa none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    display: none;
    height: 1px;
    position: absolute;
    width: 100px;
}

#shop .mb-30 {
    border-radius: 4px;
    background-color: #16161a;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 3px 21px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
}

#size a {
    color: #ffffff;
    padding-left: 1.2rem;
}

#size a:hover {
    color: #a9091d;
}

#shop .form-check-label {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

#page-area a:hover {
    color: #a9091d;
}

#page-area .pfolio-breadcrumb-list li {
    padding: 0 10px;
}

#page-area .col-lg-12 {
    padding-left: 0;
}

#price .row {
    margin-right: 0;
}

#price .price {
    margin-top: 20px;
    width: 220px;
    padding-left: 15px;
}

#price .price hr {
    height: 1px;
    background: #979797;
    width: 100%;
    margin-right: 30px;
    text-align: left;
    border: none;
}

#price .price label {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    cursor: default !important;
    margin-top: -4px;
}

#price .price label:hover {
    color: #ffffff !important;
}

#price .price .row .col-lg-6 {
    padding: 0;
}

/* #price .price input[type=number]::-webkit-outer-spin-button,
#price .price input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#price .price input[type=number] {
    -moz-appearance:textfield;
} */

#price .price .form-control {
    padding: 4px 7px;
    /* border-color: transparent;
    border-radius: 4px; */
    background-color: transparent;
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.30), 0 3px 21px 0 rgba(0,0,0,0.30); */
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border: none;
    /* border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: solid 1px #979797;
	border-radius: 0; */
}

#price .price .btn-info {
    width: 150px;
    border-radius: 4px;
    background-color: #a9091d;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
    margin-top: 18px;
    border: none;
    margin-left: 15px;
}

#tag a {
    height: 14px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #ffffff;
}

#tag a:hover {
    color: #a9091d;
}

#tag .instagram-img li:hover {
    background: none;
}

#tag .instagram-img li a:before {
    background: none;
}

#sort .mb-30 {
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding: 10px;
    margin-top: -12px;
}

#sort label {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

#sort .nice-select {
    border: 0;
    background-color: #16161a;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 3px 21px 0 rgba(0, 0, 0, 0.3);
    padding: 0;
    width: 150px;
    height: 40px;
    float: left;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
}

#sort .nice-select .list li {
    color: #ffffff;
}

#sort .nice-select .list li:hover {
    color: #a9091d;
}

#sort .nice-select .list {
    background-color: #16161a;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 3px 21px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    /* margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9; */
}

#sort .nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: transparent;
}

#sort .grid-list-view span {
    padding-left: 10px;
}

#sort .col-lg-4 {
    margin-bottom: 20px;
}

#sort a {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #ffffff;
    height: 52px;
    overflow: hidden;
}

.toolbar-sorter label {
    width: 45px;
}

.sp-title {
    /* text-align: center; */
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #ffffff;
    /* margin-bottom: 41px; */
}

.sp-caption {
    text-align: left;
    margin-top: -15px;
    margin-bottom: 30px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}

.value-size {
    text-align: right;
}

.show-more {
    margin-top: 39px;
    padding-bottom: 25px;
}

.show-more a {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #ffffff;
}

a.show-more:hover {
    color: #a9091d;
}

.form-btn {
    text-align: center;
}

/* @media screen and (max-width: 991px) {
	#price .price {
		width: 100%
	}
	#price .price .btn-info{
		width: 280px;
	}
} */

/* @media screen and (max-width: 767px) {
	#price .price .btn-info{
		width: 190px
	}
	#sort .nice-select{
		margin-top: 20px;
		width: 100%
	}
} */

/* @media screen and (max-width: 575px) {
	#size .col-sm-5{
		width: 50%;
	}
	#price .col-sm-3{
		width: 25%;
	}
	#price .col-sm-6{
		width: 75%;
	}
	#price .price .btn-info{
		width: 202px
	}
} */
