#thanks-order .box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #16161a;
    box-shadow: 0 0 11px 0 #000000;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    padding-bottom: 50px;
    margin-top: 143px;
}

#thanks-order .box-title {
    padding: 27px 0;
    background-color: #000000;
}

.to-title {
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #ffffff;
    margin-bottom: 41px;
}

.to-caption {
    margin-top: 48px;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}

.to-caption2 {
    text-align: center;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #ffffff;
    margin-top: 21px;
}

#thanks-order input {
    border-color: transparent;
    border-radius: 4px;
    background-color: #16161a;
    box-shadow: 0 0 11px 0 #000000;
}

#thanks-order .btn-info {
    width: 173px;
    border-color: transparent;
    border-radius: 4px;
    background-color: #a9091d;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
}

#thanks-order .btn-info:focus {
    box-shadow: none;
}
